.lt-slide .nav ul li .productManage{
    color: #fff;
}
tbody td{
    text-align: center;
    vertical-align: middle;
}
.upload-box{
    position: relative;
    width: 76px;
    height: 26px;
}
#uploadFile{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;

}